<h1 style="text-align:center;"><ins> DRFBands: Workout For Baseball Players </ins> </h1>
<br> 
<br>

<br><br><br> 
<h3><ins> Upper Body Stretching </ins></h3> 
<h3> <%= link_to '1.)Upper Body Stretching Routine:', drills_upperstretching_path %></h3>
<br>
<br>
<h3><ins> Upper Body Exercises For Throwing And Grip Strength </ins></h3> 
<h3> <%= link_to '1.)Band Pull Aparts:', drills_bandpullaparts_path %></h3>
<h3> <%= link_to '2.)Open An Close The Window:', drills_ocwindow_path %></h3>
<h3> <%= link_to '3.)4 Way Wrist Strengthing:', drills_wrist_path %></h3>

<br>
<br> 
<h3><ins> Core Exerices </ins></h3> 
<h3> <%= link_to '1.)Torso Twists:', lists_ankles_path %></h3>
<h3> <%= link_to '2.)6 Inches:', lists_ankles_path %></h3>

<br>
<br> 
<h3><ins> Lower Body Hip Explosion Exercises </ins></h3> 
<h3> <%= link_to '1.)Squats:', lists_ankles_path %></h3>
<h3> <%= link_to '2.)Good mornings:', lists_ankles_path %></h3>
<h3> <%= link_to '3.)Lateral Jumps:', lists_ankles_path %></h3>
<h3> <%= link_to '4.)Mini Band Jumps:', lists_ankles_path %></h3>
<h3> <%= link_to '5.)Band Pull Throughs:', lists_ankles_path %></h3>
