<h1 style="text-align:center;"><ins> DRFBands: Workout For  Cross Country Runners </ins> </h1>
<br> 
<br>

<br><br><br> 
<h3><ins> Lower Body Stretching </ins></h3> 
<h3> <%= link_to '1.)Lower Body Stretching Routine:', root_path %></h3>


<br>
<br>
<h3><ins> Lower Body Injury Prevention Exercises </ins></h3> 
<h3> <%= link_to '1.)Ankle Exercises:', lists_ankles_path %></h3>
<h3> <%= link_to '2.)Shin Splint Prevention Exercises:', drills_shinsplint_path %></h3>
<h3> <% link_to '3.)Band Terminal Knee Extensions:', drills_upperstretching_path %></h3> <!-- add in page and link here --> 


<br>
<br>
<h3><ins> Upper Body Exercises </ins></h3> 
<h3> <%= link_to '1.)Fireman Pull:', drills_firemanpull_path %></h3>
<h3> <%= link_to '2.)Band Pull Aparts:', drills_bandpullaparts_path %></h3>
<h3> <% link_to '3.)Push Ups:', drills_wrist_path %></h3> <!-- add in page and link to it here -->


<br>
<br>
<h3><ins> Core Exerices </ins></h3> 
<h3> <%= link_to '1.)Torso Twists:', drills_torsotwists_path %></h3>
<h3> <%= link_to '2.)6 Inches:', drills_sixinches_path %></h3>



<br>
<br>
<h3><ins> Lower Body Exercises </ins></h3> 

<h3> <%= link_to '1.)Squats:', drills_squats_path %></h3>
<h3> <%= link_to '2.)Good mornings:',drills_goodmorning_path %></h3>
<h3> <%= link_to '3.)Band Pull Throughs:', drills_bandpullthroughs_path %></h3>
<h3> <% link_to '4.)Forward Run:', drills_bandpullthroughs_path %></h3> <!-- add video and link --> 