<h1 style="text-align:center;"> DRFBands Stretching Routine </h1> 
<br><br><br> 
<h3> Ankles Exercises </h3> 

<h3> <%= link_to '1.)Ankle Warmup:', lists_ankles_path %></h3>

<br>
<br>
<h3> Leg Stretches </h3> 

<h3> <%= link_to '2.)Hamstring Stretch:', lists_hamstring_path %></h3> 

<h3> <%= link_to '3.)Groin Stretch:', lists_groin_path %></h3> 

<h3> <%= link_to '4.)I.T. Band Stretch:', lists_itband_path %></h3> 

<br>
<br> 
<h3> Hip Stretches </h3>
<h3> <%= link_to '5.)Hip Stretch ', lists_hip_path %></h3> 
<h3> <%= link_to '6.) Low Back and Glute Strech', lists_backglute_path %></h3> 
 <h3> <%= link_to '7.) Quad Stretch', lists_quad_path %></h3> 
 <h3> <%= link_to '8.)Hip Flexor Stretch ', lists_hipflex_path %></h3> 