<h1 style="text-align:center;"><ins> DRFBands: Workout For Football Players </ins> </h1>
<br> 
<br>

<br><br><br> 
<h3><ins> Lower Body Stretching </ins></h3> 
<h3> <%= link_to '1.)Lower Body Stretching Routine:', root_path %></h3>


<br>
<br> 
<h3><ins> Lower Body Injury Prevention Exercises </ins></h3> 
<h3> <%= link_to '1.)Ankle Exercises:', lists_ankles_path %></h3>
<h3> <%= link_to '2.)Band Terminal Knee Extensions:', drills_tke_path %></h3>


<br><br><br> 
<h3><ins> Hand And Grip Strength </ins></h3> 
<h3> <%= link_to '1.)4 Way Wrist Strengthing:', drills_wrist_path %></h3>
<h3> <%= link_to '2.)Fireman Pull:', drills_firemanpull_path %></h3>



<br>
<br> 
<h3><ins> Core Exerices </ins></h3> 
<h3> <%= link_to '1.)Torso Twists:', drills_torsotwists_path %></h3>
<h3> <%= link_to '2.)6 Inches:', drills_sixinches_path %></h3>


<br><br> 
<h3><ins> Lower Body Hip Explosion Exercise's </ins></h3> 
<h3> <%= link_to '1.)Squats:', drills_squats_path %></h3>
<h3> <%= link_to '2.)Good mornings:',drills_goodmorning_path %></h3>
<h3> <%= link_to '3.)Lateral Jumps:', drills_lateraljumps_path %></h3>
<h3> <%= link_to '4.)Mini Band Jumps:', drills_minibandjumps_path %></h3>
<h3> <%= link_to '5.)Band Pull Throughs:', drills_bandpullthroughs_path %></h3>



<!-- 1.)You need to get some better upper body and speed and agility first. 
	2.)Then after that we need some sport specific and position specific stuff --> 